{
  "env": {
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "extends": ["prettier", "airbnb"],
  "plugins": ["prettier", "jest"],
  "ignorePatterns": ["/tmp/**/*.js"],
  "rules": {
    "no-underscore-dangle": 0,
    "comma-dangle": 0,
    "implicit-arrow-linebreak": 0,
    "linebreak-style": 0,
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreUrls": true
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "next"
      }
    ],
    "prettier/prettier": "error"
  },
  "settings": {
    "react": {
      "version": "999.999.999"
    }
  }
}
